.marker{
    box-sizing: border-box;
    background: rgb(219, 20, 20);
    border:2px solid rgba(255, 240, 25, 0.923);
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
.marker.selected{
    background-color: yellow;
    border-color: black;
}