@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

:root {
  --gray: rgba(248, 249, 250);
  --blue-gray: rgba(90,	117, 135);	
}

.App {
  text-align: center;
}

.Navbar {
  background-color: var(--gray);
}

.navbar-nav>li {             /* <- this affects all navbars */
  float: none;
  text-align: center;
}

.App-header {
  background-color: #B6DEF2;
  background-image: url("../../images/city.jpg");
  height: 150px;
  background-size: cover;
  background-position: center top;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header-logo {
  height: 75%;
}

.total-transacted-box {
  padding: 0.5rem;
  text-align: center;
  width: 35%;
  margin: auto;
}

.box {
  background-color: var(--gray);
  border-style: solid;
  border-color: rgb(52, 58,	64);
  border-width: 1px;
  border-radius: 0.3rem;
}

.total-transacted-money {
  font-size: 4vmin;
  font-weight: 600;
  color: rgb(52, 58,	64);
}

.total-transacted-description {
  font-size: 2vmin;
  color:  rgb(52, 58,	64);
}

.assets--list, .users--list, .transactions--list, .distributor--container {
  /* text-align: center; */
  margin-bottom: 8rem;
}

.container-fluid {
  padding: 0;
}

.page-title {
  color: var(--blue-gray);
  font-size: 6vmin;
  text-align: left;

  margin-top: 1rem;
  /* margin-bottom: 2rem; */
}

#btn-top {
  margin-top: 1rem;
}

#btn-stats {
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: center;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

td, th {
  font-size: 1.8vmin;
  text-align: center;
}

.content {
  width: 90%;
  margin: auto;
}

.chart-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* when it's not selected */
.custom-pill {
  color: #292b2c;
  background-color: #fff;
}

 /* when it's selected */
.custom-pill.nav-link.active {
  color: #ffffff;
  background-color:var(--blue-gray);
}

.custom-pill:hover {
  color: #292b2c;
  background-color: #e6e6e6;
}

.custom-pill.disabled, .custom-pill:disabled {
  background-color: #fff;
}

.custom-pill:active, .custom-pill.active,
.show > .custom-pill.dropdown-toggle {
  color: #292b2c;
  background-color: #e6e6e6;
  background-image: none;
}

.about-page-photo {
  max-width:100%;
  height:auto;
  margin-bottom: 3rem;
  border-radius: 0.3rem;
}

.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-text {
  color: var(--gray);
}
