@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');

:root {  
  /* https://coolors.co/a4b4af-cc0000-5f6966-edc638-e8ebeb */
  --white: #ffffff;
  --off-white: rgb(240, 240, 240);
  --light-gray: rgb(149, 161, 157);
  --red: #e72b2b;
  --secondary-red: rgba(179, 67, 67, 0.842);
  --update-blue: rgb(0, 162, 255);
  --secondary-update-blue: rgb(90, 140, 172);
  --gray: #505352;
  --yellow: rgb(235, 193, 42);
  --secondary-yellow: rgb(248, 221, 124);
  --black: #000000;
  --orange: #D17350;
  --secondary-orange: rgb(151, 77, 50);
  --selling-blue: #479EDC;
  --secondary-selling-blue: rgb(32, 89, 129);
}

/* Both of these @media min-width things are to override 
default bootstrap container css that makes the container have big
margins on both sides. It's dumb and so this is what I found.
https://stackoverflow.com/questions/22996429/override-bootstrap-container-width */
@media (min-width: 768px) {
  .container {
    max-width:100%;
  }  
}

@media (min-width: 992px) {
  .container {
    max-width:100%;
  }
}

.Application {
  background-image: url("../../images/white_carbonfiber.png");
  background-repeat: repeat;

  padding-top: 10vmin;

  font-family: 'Titillium Web', sans-serif;
  font-size: 1.75vmin;

  height: 100%;
  overflow:auto;
}

.navbar {
  /* background: rgb(42, 43, 46);
  background: linear-gradient(to right, rgb(32, 32, 32), rgb(62, 65, 71)); */
  box-shadow: 0px 0px 18px 18px rgba(0,0,0,0.5);
}

.viga {
  font-family: 'Viga', sans-serif;
}

.bolt {
  margin-left: -0.25vmin;
  margin-right: 0.75vmin;
}

.total-transacted-box {
  padding: 0.5vmin;
  text-align: center;
  width: 35%;
  margin: auto;
}

.total-transacted-money {
  font-size: 4vmin;
  font-weight: 600;
  color: var(--gray);
}

.total-transacted-description {
  font-size: 2vmin;
  color: var(--gray);
}

/* mobile */
@media (min-width: 280px) {
  .error-container {
    margin-top: 10vmin;
    padding: 0.2vmin 2vmin 2vmin 2vmin;
  }
}

/* desktop */
@media (min-width: 961px) {
  .error-container {
    padding: 0.2vmin 2vmin 2vmin 2vmin;
  }
}

.container-fluid {
  padding: 0;
}

.page-title {
  color: var(--gray);
  font-size: 3vmin;
  text-align: center;
}

.page-subtitle {
  color: var(--black);
  font-size: 2.25vmin;
  text-align: left;
}

.page-subtitle2 {
  color: var(--light-gray);
  font-size: 2.25vmin;
  font-style: italic;
  text-align: center;
  margin-top: -1vmin;
}

.btn {
  margin-left: 0.75vmin;
  margin-right: 0.75vmin;
  margin-bottom: 0.25vmin;

  font-size: 1.75vmin;
}

.btn>a:hover {
  text-decoration: none !important;
}

.delete-button {
  text-align: right;
  font-size: 1.5vmin;
  color: var(--white);
  background-color: var(--secondary-red);
  border-color: var(--secondary-red);
}

.delete-button:hover, .delete-button:active, .delete-button:focus {
  color: var(--white) !important;
  background-color: var(--red) !important;
  border-color: var(--red) !important;
}

.update-button {
  font-size: 1.5vmin;
  color: var(--white);
  background-color: var(--secondary-update-blue);
  border-color: var(--secondary-update-blue);
}

.update-button:hover, .update-button:active, .update-button:focus {
  color: var(--white) !important;
  background-color: var(--update-blue) !important;
  border-color: var(--update-blue) !important;
}

.button-width {
  width: 10vmin;
}

.control-button-text {
  font-size: 2vmin;
  text-align: center;
}

.simulation-title {
  color: var(--black);
  font-size: 4vmin;
}

.clock {
  color: var(--red);
  font-size: 4vmin;
  margin: 2vmin 0vmin 2vmin 0vmin;
}

.not-clock {
  color: var(--gray);
  font-size: 4vmin;
  margin: 2vmin 0vmin 2vmin 0vmin;
}

.stopped {
  color: var(--gray);
  font-size: 4vmin;
  margin: 2vmin 0vmin 2vmin 0vmin;
}

.new-market-period {
  color: var(--red);
  font-style: italic;
}

.operator-table-headers {
  color: var(--black);
  background: rgb(255,200,0);
  background: linear-gradient(90deg, rgb(221, 179, 27, 0.75) 30%, rgb(228, 145, 20, 0.75) 100%);
}

.user-headers {
  color: var(--black);
  background: rgb(41,135,37);
  background: linear-gradient(90deg, rgb(82, 206, 78, 0.75) 30%, rgb(18, 173, 140, 0.75) 100%);
}

th, td {
  font-size: 1.25vmin;
  text-align: center;
}

.chart-container {
  margin-top: 4vmin;
  margin-bottom: 4vmin;
}

/* when it's not selected */
.custom-pill {
  color: var(--white);
  background-color: var(--gray);
  margin: 0.5vmin;
  font-size: 1.5vmin;
}

 /* when it's selected */
.custom-pill.nav-link.active {
  color: var(--black);
  background-color: var(--yellow);
}

/* when it's hovered over */
.custom-pill:hover {
  color: var(--black);
  background-color: var(--secondary-yellow);
}

/* when it's being clicked/held down */
.custom-pill:active, .custom-pill.active,
.show > .custom-pill.dropdown-toggle {
  color: var(--black);
  background-color: var(--yellow);
}

.drop-item:hover {
  color: var(--black);
  background-color: var(--white);
}

.drop-item.active {
  color: var(--black);
  background-color: var(--white);
}

.drop-button:active, .drop-button.active,
.show > .drop-button.dropdown-toggle {
  color: var(--black);
  background-color: var(--white);
}

.custom-drop-item {
  background-color: #D8000C;
  color: #4F8A10;
}

.bottom {
  margin-bottom: 4vmin;
}

.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 6vmin;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 100vw;
  background-image: url("../../images/white_carbonfiber.png");
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.spinner-small {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 30vh;
  width: 30vw;
  top: 0vmin;
  bottom: 0vmin;
  left: 12vmin;
  right: 0vmin;
}

.spinner-homeowner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 100vw;
  top: 10vmin;
  bottom: 0vmin;
  left: 0vmin;
  right: 0vmin;
}

.not-loaded {
  margin-bottom: 40vmin;
}

.asset-link {
  cursor: pointer;
  color: var(--white);
  background-color: var(--secondary-orange);
  padding: 0vmin 1vmin;
  margin-left: 1vmin;
  border-radius: 0.6vmin;
}

.asset-link:hover {
  color: var(--white);
  background-color: var(--orange);
  text-decoration: none !important;
}

.success {
  margin: 10px 0px;
  padding:12px;
  color: #4F8A10;
  background: rgb(166,238,9);
  background: linear-gradient(90deg, rgba(166,238,9,0.2) 36%, rgba(93,255,65,0.2) 94%);
  font-size: 2vmin;
  text-align: center;
}
.success2 {
  padding: 10px;
  color: #4F8A10;
  background: rgb(166,238,9);
  background: linear-gradient(90deg, rgba(166,238,9,0.2) 36%, rgba(93,255,65,0.2) 94%);
  font-size: 2vmin;
  text-align: center;
}
.success3 {
  color: #4F8A10;
  background: rgb(166,238,9);
  background: linear-gradient(90deg, rgba(166,238,9,0.2) 36%, rgba(93,255,65,0.2) 94%);
}
.warning {
  margin: 10px 0px;
  padding:12px;
  color: #9f6000;
  background: rgb(255,234,59);
  background: linear-gradient(90deg, rgba(255, 230, 0, 0.3) 36%, rgba(228, 225, 67, 0.3) 94%);
  font-size: 2vmin;
  text-align: center;
}
.error {
  margin: 0vmin 2vmin 2vmin 2vmin;
  padding: 12px;
  color: #D8000C;
  background: rgb(238,44,9);
  background: linear-gradient(90deg, rgba(238,44,9,0.2) 36%, rgba(214, 41, 123, 0.2) 94%);
  font-size: 2vmin;
  text-align: center;
}
.error2 {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  color: #D8000C;
  background: rgb(238,44,9);
  background: linear-gradient(90deg, rgba(238,44,9,0.2) 36%, rgba(214,41,123,0.2) 94%);
  font-size: 1.5vmin;
  text-align: center;
}
.info {
  margin: 10px 0px;
  padding:12px;
  color: var(--gray);
  background-color: rgba(164, 180, 175, 0.2);
  font-size: 2vmin;
  text-align: center;
}

.placeholder-text {
  color: red;
  background: yellow;
}

.center-text {
  text-align: center;
}

.left-margin {
  margin-left: 2vmin;
}

.right-margin {
  margin-right: 2vmin;
}

.right-margin2 {
  margin-right: 25%;
}

.top-margin {
  margin-top: 1vmin;
}

.top-margin2 {
  margin-top: 3vmin;
}

.bottom-margin {
  margin-bottom: 2vmin;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.placeholder-wrapper {
  border-style: solid;
  border-color: red;
  border-width: 2px;
  border-radius: 0.1vmin;

  text-align: center;
}

.wrapper {
  background-color: var(--white);
  border-radius: 0.75vmin;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);

  margin: 1vmin;
  padding: 2vmin;
}

/* mobile */
@media (min-width: 280px) {
  .special-top-wrapper {
    background-color: var(--white);
    border-radius: 0.75vmin;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);

    margin: 2% 1vmin 1vmin 1vmin;
    padding: 2vmin;
  }
}
/* desktop */
@media (min-width: 961px) {
  .special-top-wrapper {
    background-color: var(--white);
    border-radius: 0.75vmin;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
    
    margin: 2% 1vmin 1vmin 1vmin;
    padding: 2vmin;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 1350px;
  }
}

.walk-modal {
  padding: 0vmin 2vmin 0vmin 2vmin;
}

.walk-modal-title {
  font-family: 'Viga', sans-serif;
}

.walk-font {
  font-family: 'Titillium Web', sans-serif;
}

.walk-wrapper {
  background-color: var(--off-white);
  border-radius: 0.75vmin;
  margin: 2vmin 1vmin 2vmin 1vmin;
  padding: 2vmin 2vmin 0.25vmin 2vmin;
}

.walk-title {
  color: var(--gray);
  font-size: 3vmin;
  text-align: left;
}

.walk-subtitle {
  color: var(--red);
  font-size: 2.5vmin;
  text-align: left;
}

.walk-subtitle2 {
  font-style: italic;
  font-size: 2vmin;
}

.walk-logo {
  width: 20vmin;
  margin-bottom: 2vmin;
}

.walk-text {
  font-size: 1.75vmin;
}

.walk-section {
  margin: 0vmin 0vmin 4vmin 0vmin;
}

.walk-image {
  height: 35vmin;
  width: auto;
  border-radius: 0.75vmin;
}

.tooltip-text {
  font-size: 2vmin;
}

/* mobile */
@media (min-width: 280px) {
  .about {
    margin: 12vmin 4vmin 3vmin 4vmin;
    padding: 4vmin 6vmin 4vmin 6vmin;
  }
}

/* desktop */
@media (min-width: 961px) {
  .about {
    margin: 2vmin 8vmin 6vmin 8vmin;
    padding: 4vmin 6vmin 4vmin 6vmin;
  }
}

.about-page-photo {
  max-width: 100%;
  height: auto;
  margin-bottom: 6vmin;
  border-radius: 0.75vmin;
}

.about-page-logo {
  width: 16vmin;
  margin-bottom: -4vmin;
}

.google-text {
  font-size: 1.5vmin;
}

.google-logo {
  width: 45vmin;
  margin: 1vmin 0vmin 3vmin 0vmin;
}

.google-subtitle {
  color: var(--selling-blue);
  font-size: 3vmin;
}

.google-subtitle2 {
  color: #0F9D58;
  font-size: 2vmin;
}

.google-border {
  background-color: var(--off-white);
  border-radius: 0.75vmin;
  
  margin-bottom: 1.5vmin;
  padding: 1.75vmin;
}

/* mobile */
@media (min-width: 280px) {
  .update-form {
    margin-top: 12vmin;
    padding: 3vmin 4vmin 3vmin 4vmin;
  }
}

/* desktop */
@media (min-width: 961px) {
  .update-form {
    margin: 4vmin;
    padding: 6vmin 8vmin 6vmin 8vmin;
  }
}

.deadline-enabled {
  background-color: var(--gray);
  background: rgb(41,135,37);
  background: linear-gradient(90deg, rgb(86, 187, 83) 30%, rgb(18, 173, 140) 100%);
  color: var(--white);
  border-radius: 0.75vmin;
  font-size: 3vmin;

  margin: 1vmin 4vmin 2vmin 4vmin;
  padding: 2vmin;
}

.deadline-disabled {
  background-color: var(--gray);
  background: rgb(115, 124, 115);
  background: linear-gradient(90deg, rgb(177, 187, 177) 30%, rgb(159, 172, 169) 100%);
  color: var(--white);
  border-radius: 0.75vmin;
  font-size: 3vmin;

  margin: 1vmin 4vmin 2vmin 4vmin;
  padding: 2vmin;
}

.scrollable {
    height: 3 0vmin;
    overflow: scroll;
    margin-bottom: 2vmin;
  }
  
  .scrollable-filter {
    height: 36vmin;
    overflow: scroll;
    margin-bottom: 2vmin;
}

.scrollable-small {
  height: 30vmin;
  overflow: scroll;
}

.new-data {
  color: var(--gray);
  background: rgb(166,238,9);
  background: linear-gradient(90deg, rgba(166,238,9,0.2) 36%, rgba(93,255,65,0.2) 94%);

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.card-body {
  background-color: var(--off-white);

  border-style: solid;
  border-color: var(--light-gray);
  border-width: 2px;
  border-radius: 0.75vmin;
}

.purchase-card {
  background-color: var(--orange);
  
  border-style: solid;
  border-color: var(--secondary-orange);
  border-width: 2px;
  border-radius: 0.75vmin;
}

.selling-card {
  background-color: var(--selling-blue);
  
  border-style: solid;
  border-color: var(--secondary-selling-blue);
  border-width: 2px;
  border-radius: 0.75vmin;
}

.card-text, .card-title {
  text-align: center;
}

.white-card {
  color: var(--white);
}

.off-white-card {
  color: var(--off-white);
}

.monthly-stats-wrapper {
  padding-left: 2vmin;
  padding-right: 2vmin;
  padding-bottom: 4vmin;
}

.map-container {
  height: 50vh;
  width: 100%;
}

.map-container-small {
  height: 30vh; 
  width: 100%;
}

.profile-picture {
  max-height: 25vmin;
  margin-left: 1vmin;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

/* mobile */
@media (min-width: 280px) {
  .operator-name-wrapper {
    background: rgb(255,200,0);
    background: linear-gradient(90deg, rgb(221, 179, 27) 30%, rgb(228, 145, 20) 100%);
  
    border-radius: 0.75vmin;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);
  
    margin: 10% 1vmin 1vmin 1vmin;
    padding: 2vmin;
  }
}
/* desktop */
@media (min-width: 961px) {
  .operator-name-wrapper {
    background: rgb(255,200,0);
    background: linear-gradient(90deg, rgb(221, 179, 27) 30%, rgb(228, 145, 20) 100%);

    border-radius: 0.75vmin;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);

    margin: 2% 1vmin 1vmin 1vmin;
    padding: 2vmin;
  }
}

/* mobile */
@media (min-width: 280px) {
  .user-name-wrapper {
    background: rgb(41,135,37);
    background: linear-gradient(90deg, rgb(86, 187, 83) 30%, rgb(18, 173, 140) 100%);

    border-radius: 0.75vmin;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);

    margin: 10% 1vmin 1vmin 1vmin;
    padding: 2vmin;
  }
}
/* desktop */
@media (min-width: 961px) {
  .user-name-wrapper {
    background: rgb(41,135,37);
    background: linear-gradient(90deg, rgb(86, 187, 83) 30%, rgb(18, 173, 140) 100%);

    border-radius: 0.75vmin;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.4);

    margin: 2% 1vmin 1vmin 1vmin;
    padding: 2vmin;
  }
}

.center-content {
  display: flex;
  /* keep height the same */
  /* align-items: center;  */
  justify-content: center;
}

.info-box {
  background-color: var(--off-white);
  border-radius: 0.75vmin;

  max-width: 20vmin;

  margin: 1vmin;
  padding: 2vmin;
}

.info-number {
  color: var(--gray);
  background: var(--white);
  font-size: 3.5vmin;

  min-width: 6vmin;
  max-width: 12vmin;
  border-radius: 0.75vmin;
}

.info-text {
  color: var(--black);
  font-size: 1.5vmin;
  text-align: center;
}

.info-text2 {
  color: var(--gray);
  font-size: 2vmin;
  text-align: center;
}

.operator-info {
  color: var(--gray);
  font-size: 2.5vmin;
  text-align: left;

  line-height: 2vmin; 
}

/* mobile */
/* @media (min-width: 280px) {
  .operator-fields {
    position: relative;
  }
} */

/* desktop */
/* @media (min-width: 961px) {
  .operator-fields {
    position: relative;
  }
} */

.operator-fields {
  position: relative;
}

.name {
  color: var(--off-white);
  font-size: 4vmin;
  text-align: left;
  font-weight: bold;
}

.dashboard-type {
  color: var(--black);
  font-size: 2.5vmin;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 2vmin;
}

p {
  color: var(--gray);
}

.icon {
  vertical-align: middle;
  padding-bottom: 0.5vmin;
  text-align: center;
}

.filter-inputs {
  margin: 0vmin 1vmin 0vmin 1vmin;
}

.filter-input {
  margin-left: 2vmin;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}

.switch-text {
  font-size: 2vmin;
}

.filter-left-text {
  color: #D17350;
}

.filter-right-text {
  color: #479EDC;
}

.start-label {
  margin-right: 1vmin;
}

.end-label {
  margin-right: 2vmin;
}

/* FOR THE SWITCH ELEMENT */
.react-switch-checkbox {
  height: 0vmin;
  width: 0vmin;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 6.5625vmin;
  height: 3.28125vmin;
  background: grey;
  border-radius: 6.5625vmin;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: .15vmin;
  left: .15vmin;
  width: 3vmin;
  height: 3vmin;
  border-radius: 3vmin;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 2.625vmin;
}

.switch-on {
  background-color: #479EDC;
}

.switch-off {
  background-color: #D17350;
}
