@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

:root {  
  /* https://coolors.co/a4b4af-cc0000-5f6966-edc638-e8ebeb */
  --white: #ffffff;
  --off-white: #E8EBEB;
  --green-gray: #A4B4AF;
  --red: #dd2e2e;
  --secondary-red: rgba(190, 65, 65, 0.842);
  --blue: #249DE2;
  --secondary-blue: #669BBC;
  --gray: #5f6966;
  --yellow: #EDC638;
  --secondary-yellow: rgb(252, 220, 106);
  --black: #000000;
  --orange: #D17350;
  --secondary-orange: rgb(151, 77, 50);
  --selling-blue: #479EDC;
  --secondary-selling-blue: rgb(32, 89, 129);
}

/* Both of these @media min-width things are to override 
default bootstrap container css that makes the container have big
margins on both sides. It's dumb and so this is what I found.
https://stackoverflow.com/questions/22996429/override-bootstrap-container-width */
@media (min-width: 768px) {
  .container {
    max-width:100%;
  }  
}

@media (min-width: 992px) {
  .container {
    max-width:100%;
  }
}

.Application {
  background-color: var(--off-white);
  padding-bottom: 1rem;
  /* width: 90%;
  margin: auto; */
}

.navbar-nav>li {             /* <- this affects all navbars */
  float: none;
  text-align: center;
}

.App-header {
  background-color: var(--gray);
  background-image: url("../../images/city.jpg");
  height: 150px;
  background-size: cover;
  background-position: center top;

  position: sticky;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header-logo {
  height: 75%;
}

.total-transacted-box {
  padding: 0.5rem;
  text-align: center;
  width: 35%;
  margin: auto;
}

.box {
  background-color: var(--white);
  border-style: solid;
  border-color: var(--gray);
  border-width: 1px;
  border-radius: 0.3rem;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.total-transacted-money {
  font-size: 4vmin;
  font-weight: 600;
  color: var(--gray);
}

.total-transacted-description {
  font-size: 2vmin;
  color: var(--gray);
}

.about-container {
    padding: 2rem;
}

.error-container {
  padding: 0.1rem 1rem 1rem 1rem;
}

.container-fluid {
  padding: 0;
}

.page-title {
  color: var(--gray);
  font-size: 5vmin;
  text-align: center;

  padding-top: 2rem;
}

.page-subtitle {
  color: var(--gray);
  font-size: 3vmin;
  text-align: left;
}

.operator-page-title {
  color: var(--gray);
  font-size: 5vmin;
  text-align: center;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#btn-top {
  margin-top: 1rem;
}

#btn-stats {
  margin-top: 1rem;
  margin-bottom: 1rem;
  float: center;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;

  color: var(--black);
  background-color: var(--yellow);
  border-color: var(--secondary-yellow);
}

.btn>a {
  color: var(--black);
}

.btn>a:hover {
  text-decoration: none !important;
}

.btn:hover, .btn:active, .btn:focus {
  color: var(--black) !important;
  background-color: var(--secondary-yellow) !important;
  border-color: var(--secondary-yellow) !important;
}

.delete-button {
  text-align: right;
  font-size: .75rem;
  color: var(--white);
  background-color: var(--secondary-red);
  border-color: var(--secondary-red);
}

.delete-button:hover, .delete-button:active, .delete-button:focus {
  color: var(--white) !important;
  background-color: var(--red) !important;
  border-color: var(--red) !important;
}

.update-button {
  font-size: .75rem;
  color: var(--white);
  background-color: var(--secondary-blue);
  border-color: var(--secondary-blue);
}

.update-button:hover, .update-button:active, .update-button:focus {
  color: var(--white) !important;
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.simulation-button {
  width: 5rem;
}

th, td {
  font-size: 1.8vmin;
  text-align: center;
}

.chart-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* when it's not selected */
.custom-pill {
  color: var(--gray);
  background-color: var(--white);
}

 /* when it's selected */
.custom-pill.nav-link.active {
  color: var(--black);
  /* border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  border-color: var(--gray); */
  background-color: var(--yellow);
}

.custom-pill:hover {
  color: var(--black);
  background-color: var(--secondary-yellow);
}

.custom-pill.disabled, .custom-pill:disabled {
  background-color: var(--off-white);
}

.custom-pill:active, .custom-pill.active,
.show > .custom-pill.dropdown-toggle {
  color: var(--gray);
  background-color: var(--yellow);
}

.about-page-photo {
  max-width:100%;
  height:auto;
  margin-bottom: 3rem;
  border-radius: 0.3rem;
}

.bottom {
  margin-bottom: 1rem;
}

.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .next-steps .col-md-5 {
    margin-bottom: 0;
  }
}

.spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--white);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
} */

.footer-text {
  color: var(--off-white);
}

.asset-link {
  color: var(--black);
  cursor: pointer;
}

.asset-link:hover {
  color: var(--gray);
  text-decoration: none !important;
}

.success {
  margin: 10px 0px;
  padding:12px;
  color: #4F8A10;
  background-color: #DFF2BF;
  font-size: 2vmin;
  text-align: center;
}
.success2 {
  padding: 10px;
  color: #4F8A10;
  background-color: #DFF2BF;
  font-size: 2vmin;
  text-align: center;
}
.warning {
  margin: 10px 0px;
  padding:12px;
  color: #9f6000;
  background-color: rgba(255, 243, 188, 0.5);
  font-size: 2vmin;
  text-align: center;
}
.error {
  margin: 10px 0px;
  padding:12px;
  color: #D8000C;
  background-color: hsla(0, 100%, 91%, 0.5);
  font-size: 2vmin;
  text-align: center;
}
.error2 {
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  color: #D8000C;
  background-color: hsla(0, 100%, 91%, 0.5);
  font-size: 1.5vmin;
  text-align: center;
}
.info {
  margin: 10px 0px;
  padding:12px;
  color: var(--gray);
  background-color: rgba(164, 180, 175, 0.2);
  font-size: 2vmin;
  text-align: center;
}

.placeholder-text {
  color: red;
  background: yellow;
}

.placeholder-wrapper {
  border-style: solid;
  border-color: red;
  border-width: 2px;
  border-radius: 0.3rem;

  text-align: center;
}

.center-text {
  text-align: center;
}

.left-margin {
  margin-left: 1rem;
}

.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}

.wrapper {
  background-color: var(--white);

  border-style: solid;
  border-color: var(--green-gray);
  border-width: 2px;
  border-radius: 0.3rem;

  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}

.scrollable {
    height: 30rem;
    overflow: scroll;
}

.scrollable-filter {
  height: 20rem;
  overflow: scroll;
}

.scrollable-small {
  height: 15rem;
  overflow: scroll;
}

.operator-title-wrapper {
  margin: 1rem;
  padding: 1rem;
}

.card-body {
  background-color: var(--off-white);

  border-style: solid;
  border-color: var(--green-gray);
  border-width: 2px;
  border-radius: 0.3rem;
}

.purchase-card {
  background-color: var(--orange);
  
  border-style: solid;
  border-color: var(--secondary-orange);
  border-width: 2px;
  border-radius: 0.3rem;
}

.selling-card {
  background-color: var(--selling-blue);
  
  border-style: solid;
  border-color: var(--secondary-selling-blue);
  border-width: 2px;
  border-radius: 0.3rem;
}

.card-text, .card-title {
  text-align: center;
}

.white-card {
  color: var(--off-white);
}

.monthly-stats-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.map-container {
  padding: 0.75rem;
  height: 70vh; 
  width: 100%;
}

.profile-picture-wrapper {
  text-align: center;
}

.profile-picture {
  border-style: solid;
  border-color: var(--green-gray);
  border-width: 2px;
  border-radius: 0.3rem;
  
  max-width:30%;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.profile-fields-wrapper {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.profile-buttons-wrapper {
  text-align: center;
}

.profile-field {
  width: 95%;
  background-color: var(--off-white);

  border-style: solid;
  border-color: var(--green-gray);
  border-width: 2px;
  border-radius: 0.3rem;

  margin: 0.5rem 0.5rem 1rem 0rem;
  padding: 0.5rem;
}

p {
  color: var(--gray);
}

.icon {
  vertical-align: top;
  text-align: center;
}

.clock {
  font-size: 4vmin;
  color: var(--yellow);
}

.in-component {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filter-input {
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.switch-text {
  font-size: 1rem;
}

.filter-left-text {
  color: #D17350;
}

.filter-right-text {
  color: #479EDC;
}
.start-label {
  margin-right: .5rem;
}

.end-label {
  margin-right: 1rem;
}

/* FOR THE SWITCH ELEMENT */
.react-switch-checkbox {
  height: 0rem;
  width: 0rem;
  visibility: hidden;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 4.375rem;
  height: 2.1875rem;
  background: grey;
  border-radius: 4.375rem;
  position: relative;
  transition: background-color .2s;
}

.react-switch-label .react-switch-button {
  content: '';
  position: absolute;
  top: .105rem;
  left: .105rem;
  width: 1.96875rem;
  height: 1.96875rem;
  border-radius: 1.96875rem;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 2.625rem;
}

.switch-on {
  background-color: #479EDC;
}

.switch-off {
  background-color: #D17350;
}
