@import  'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

:root {
  --gray: rgba(248, 249, 250);
  --blue-gray: rgba(90,	117, 135);	
}

.App {
  text-align: center;
}

.navbar-nav>li {             /* <- this affects all navbars */
  float: none;
  text-align: center;
}

.App-header {
  background-color: #B6DEF2;
  background-image: url("city.jpg");
  height: 150px;
  background-size: cover;
  background-position: center top;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.header-logo {
  height: 75%;
}

.total-transacted-box {
  padding: 0.5rem;
  text-align: center;
  width: 35%;
  margin: auto;
  margin-top: 2rem;
}

.box {
  background-color: var(--gray);
  border-style: solid;
  border-color: rgb(52, 58,	64);
  border-width: 1px;
  border-radius: 0.3rem;
}

.total-transacted-title1 {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(52, 58,	64);
}

.total-transacted-title2 {
  font-size: 1rem;
  color:  rgb(52, 58,	64);
}

.assets--list, .users--list, .transactions--list {
  text-align: center;
}

h2 {
  text-align: left;
}

.btn {
  margin: 5px;
  text-align: center;
}

.content {
  width: 75%;
  margin: auto;
}

.chart-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}